<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Qhluxury</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Qhluxury.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f439b4507d.js" crossorigin="anonymous"></script>
</head>
<style>
    .gg {
        float: right;
        margin-left: 10px;
    }

    .icon {
        position:absolute;
        left:-23px;
        top:15px;
    }
</style>
<body>

    <header>
        <div class="s1">

            <ul id="main-menu">
                <li><a href="https://bom.so/ZUlEMb" id="dc">Địa chỉ cửa hàng</a></li>
                <li><a href=""><a href="https://bom.so/ZUlEMb"><img id="logo6" src="https://i.imgur.com/vZFkyUm.png" title="logo" />  </a></a></li>
                <li><a href="https://facebook.com" id="cskh">Chăm sóc khách hàng</a></li>
                <li><a href=""><a href="https://facebook.com"><img id="logo5" src="https://i.imgur.com/ByTe8zg.png" title="logo" />  </a></a></li>
                <li><a href=""> <img id="logo1" src="https://i.imgur.com/GfoS589.png" title="logo" /></a></li>
                <li><a href=""> <img id="logo2" src="https://i.imgur.com/znJaYSm.png" title="logo" /></a></li>
                <li><a href="" id="lsdh">Lịch sử đơn hàng</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="View" asp-action="viewls"><img id="logo4" src="https://i.imgur.com/FAfTnbc.png" title="logo" />  </a></a></li>
                <li><a href="" id="giohang">Giỏ Hàng</a></li>
                <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="View" asp-action="viewgiohang">
                            <img id="logo3" src="https://i.imgur.com/5G9OSjU.png" title="logo" />                             
                           
                        </a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QH Luxury</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between tutorial">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>            
                        <li class="nav-item">
                            <a class="nav-link text-dark">Sản Phẩm  <i class="fa-solid fa-sort-down gg"></i> </a>

                            <ul>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="View" asp-action="viewnhan">Nhẫn  </a> <i class="fa-solid fa-ring icon"></i>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="View" asp-action="viewdongho">Đồng hồ </a>  <i class="fa-regular fa-clock icon"></i>
                                </li>

                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="View" asp-action="viewkm">Khuyến Mãi</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hanghoas" asp-action="Index">Khuyến Mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="loaihangs" asp-action="Index">Khuyến Mãi</a>
                        </li>*@
                    </ul>
                </div>
                <div class="search">
                    <input class="search_input" type="text" name="" placeholder="Tìm kiếm...">
                    <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        @RenderBody()
        <div id="slideshow">
            <div class="slide-wrapper">
                <div class="slide"><img src="~/image/banner1.png"></div>
                <div class="slide"><img src="~/image/banner2.png"></div>

            </div>
        </div>
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container1">
            &copy; 2022 - QHStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

